<barra-superior></barra-superior>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h2>Carrito de compras</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let product of products">
          <div class="row">
            <div class="col-md-2">
              <img [src]="product.url" class="img-fluid" [alt]="product.nombre">
            </div>
            <div class="col-md-6">
              <h4>{{product.nombre}}</h4>
              <p>Unidades: {{product.selectedUnits}}</p>
            </div>
            <div class="col-md-4">
              <h4>Subtotal: Q{{product.subtotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Total: Q{{total}}</h3>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="pagar()">Pagar</button>
      </div>
    </div>
  </div>
</div>